@keyframes fadeIn {
	from {opacity: 0;}
}

img {
	width: 366px;
	height: 482px;
	margin:auto;
	animation: fadeIn 10s infinite alternate;
}

h1 {
	animation: fadeIn 10s infinite alternate;
}

body {
	/* Background pattern from Subtle Patterns */
	background-image:url("../images/wormz/wormz.png") ;
	font-family: 'Bowlby One SC', cursive;
	padding-bottom: 50px;
}

p {
	font-size:x-large;
}

h2 {
	text-decoration:underline;
	line-height: 1.5;
}

.padding {
	padding:20px;
}

.jumbotron{
	background-color:#700626;
	color:paleturquoise;
	text-shadow: 2px 2px 5px red;;
}

.panel {
	color:midnightblue;
	background-color:cornsilk;
	border:1px dotted #700626;
	animation: fadeIn 10s infinite alternate;
}

#guesses, #wins, #losses, #gLeft{
	color: red;
}